* {
  box-sizing: border-box;
}

html {
  font: 12pt arial, sans-serif;
}

body {
  background-color: white;
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  text-align: center;
}

li {
  text-align: center;
  font-size: large;
}

.header {
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.header-logo {
  width: 100px;
  height: 100px;
  margin: 5px;
}

.header-text {
  padding: 0.5em;
  flex-shrink: 0;
}

.header-text a {
  text-decoration: none;
}

.header-searchform {
  flex-basis: 50%;
  flex-grow: 1;
  margin-right: 1em;
}

.header-searchbox {
  width: 100%;
  height: 3em;
  padding: 0.5em;
}

.header-account, .header-cart {
  width: 50px;
  height: 50px;
  margin: 5px;
}


.navbar-menu {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  background-color: green;
}

.navbar-item {
  display: block;
  flex: 0 0 auto;
  margin: 0;
  padding: 0;
}

.navbar-link {
  display: block;
  text-decoration: none;
  cursor: pointer;
  padding: 1em;
  background-color: green;
  color: white;
}

.navbar-link:hover, .navbar-link:focus {
  background-color: grey;
}

.navbar-menu .navbar-menu {
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  position: absolute;
  top: 100%;
  min-width: 10em;
}

a {
  color: white;
}

.navbar-menu .navbar-menu .navbar-item {
  flex: 0 0 3em;
}

.navbar-menu .navbar-menu .navbar-link {
  padding-left: 2em;
}

.navbar-item:hover > .navbar-menu,
.navbar-item:hover ~ .navbar-menu,
.navbar-item:focus-within > .navbar-menu,
.navbar-item:focus ~ .navbar-menu {
  display: flex;
}

main {
  min-height: 400px;
  text-align: center;
  color: white;
  background-color: black;
}

.content {
  margin: 30px 0;
}

ul {
  text-align: center;
  color: white;
}

.container {
  display: flex;
  align-content: center;
  margin: 0 auto;
}


.footer {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  background-color: darkblue;
  padding: 1em;
}

.footer-address {
  flex: 1 1 auto;
  text-align: center;
}


main .sections {
  background-color: olive;
  color: black;
  max-width: 1200px;
  margin: 0 auto;
  min-height: 400px;
  text-align: center;
}


main .sections h2, p, ul, li {
  text-align: center;
  list-style: none;
  margin: 0 auto;
}

.list-group {
  display: inline-block;
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 0.5rem;
}

.clearfix {
  clear: both;
}


@media only screen and (max-width: 600px) {
  .header {
    flex-wrap: wrap;
  }
  .header-searchform {
    order: 1;
    margin: 0;
  }
  .header-logo {
    width: 50px;
    height: 50px;
  }
  .header-text {
    flex-grow: 1;
  }
  .header-account,
  .header-cart {
    width: 40px;
    height: 40px;
  }
}

@media only screen and (max-width: 400px) {
  .navbar-menu {
    flex-direction: column;
  }
  .navbar-item .navbar-menu {
    position: relative;
    top: 0;
  }
}
