/*========================================================
                          Calendar
  =======================================================*/

  .fc-calendar-wr {
    position: relative;
}

.fc-calendar .fc-head div,
.fc-calendar .fc-row div {
    position: relative;

    float: left;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 14.83%;
    padding-left: 16px;

    border-left: 1px solid #fff;
}

.fc-calendar .fc-head div:first-child + div + div + div + div + div + div,
.fc-calendar .fc-row div:first-child + div + div + div + div + div + div {
    width: 11.02%;
}

.fc-calendar .fc-head div .fc-weekday,
.fc-calendar .fc-row div .fc-weekday {
    display: none;
}

.fc-calendar .fc-head:before,
.fc-calendar .fc-row:before,
.fc-calendar .fc-head:after,
.fc-calendar .fc-row:after {
    display: table;

    content: ' ';
}

.fc-calendar .fc-head:after,
.fc-calendar .fc-row:after {
    clear: both;
}

.fc-calendar .fc-row div {
    height: 71px;
    min-height: 1px;
    padding-top: 6px;
    padding-bottom: 5px;
}

.fc-calendar .fc-content div {
    display: none;
}

.fc-events {
    display: none;
}

.fc-modal {
    position: absolute;
    z-index: 1;
    top: 100%;
    right: 30px;
    left: 30px;

    min-height: 70%;

    opacity: 0;

    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
}

.fc-modal .fc-close {
    position: absolute;
    top: 5px;
    right: 5px;
}

.fc-calendar .fc-head,
.fc-calendar .fc-date {
    font-size: 69px;
    font-weight: 900;
    line-height: 60px;
}

.fc-calendar .fc-head {
    line-height: 74px\9;
}

.fc-calendar .fc-date {
    font-family: 'Righteous', cursive;
    font-weight: 400;
}

.fc-calendar .fc-today {
    background: rgba(255, 255, 255, .3);
}

.fc-calendar .fc-content {
    cursor: pointer;
    -webkit-transition: .3s background ease;
    -moz-transition: .3s background ease;
    -o-transition: .3s background ease;
    transition: .3s background ease;

    background: #fa6f6f;
}

.fc-calendar .fc-content:hover {
    background: #69d7ee;
}

.fc-calendar .fc-content div {
    color: #495468;
    background: #fff;
}

.fc-modal {
    color: #495468;
    border-top: 4px solid #fa6f6f;
    background: #f6f6f6;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .25);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, .25);
    box-shadow: 0 0 10px rgba(0, 0, 0, .25);
}

.fc-modal h3 {
    padding: 10px 30px;

    text-align: center;

    border-bottom: 1px solid #ddd;
    background: #fff;
}

.fc-modal a {
    color: #69d7ee;
}

.fc-modal .flt__r {
    margin-left: 15px;
}

.fc-modal .fc-inner {
    padding: 30px 30px 30px;
}

.fc-modal .fc-close {
    cursor: pointer;
    -webkit-transition: .3s all ease-in;
    -moz-transition: .3s all ease-in;
    -o-transition: .3s all ease-in;
    transition: .3s all ease-in;

    color: #666;
}

.fc-modal .fc-close:hover {
    color: #191919;
}

.fc-meta {
    position: relative;

    display: block;

    padding: 0 20px;
}

.fc-next,
.fc-prev {
    font: 400 32px 'FontAwesome';
    line-height: 32px;

    position: absolute;
    top: 50%;

    margin-top: -16px;

    cursor: pointer;
    -webkit-transition: .3s color ease;
    -moz-transition: .3s color ease;
    -o-transition: .3s color ease;
    transition: .3s color ease;

    color: #fff;
}

.fc-next:hover,
.fc-prev:hover {
    color: #fa6f6f;
}

.fc-next {
    right: 0;
}

.fc-prev {
    left: 0;
}

/*========================================================
                     Responsive Layout
  =======================================================*/

@media (min-width: 768px) and (max-width: 979px) {
    .fc-calendar .fc-head,
    .fc-calendar .fc-date {
        font-size: 48px;
        font-weight: 900;
        line-height: 48px;
    }
    .fc-calendar .fc-head {
        line-height: 48px\9;
    }
    .fc-calendar .fc-row div {
        height: 59px;
    }
}

@media (max-width: 979px) {
    .fc-modal .flt__r {
        margin: 0 0 15px;
    }
}

@media (max-width: 767px) {
    .fc-calendar .fc-head,
    .fc-calendar .fc-date {
        font-size: 32px;
        font-weight: 900;
        line-height: 32px;
    }
    .fc-calendar .fc-head div,
    .fc-calendar .fc-row div {
        padding-left: 6px;
    }
    .fc-calendar .fc-head {
        line-height: 36px\9;
    }
    .fc-calendar .fc-row div {
        height: 44px;
    }
    .fc-modal {
        right: 0;
        left: 0;
    }
}

@media (max-width: 479px) {
    .fc-calendar .fc-head,
    .fc-calendar .fc-date {
        font-size: 20px;
        font-weight: 900;
        line-height: 20px;
    }
    .fc-calendar .fc-head div,
    .fc-calendar .fc-row div {
        padding-left: 2px;
    }
    .fc-calendar .fc-head {
        line-height: 18px\9;
    }
    .fc-calendar .fc-row div {
        height: 32px;
    }
}

